<template>
    <td data-label="Quantity">
        <div class="slds-truncate">
            <div if:true={context}>
                <span onkeypress={quantityChange}>
                    <lightning-input type="number" class="quantity" name="input2" variant = "label-hidden" min="0" max="1" maxlength="1" pattern="[0-1]*" value={productLineItemWrapper.quantity} onchange={handleQuantityChange}></lightning-input>
                </span>
            </div>
            <div if:false={context}>
                <span onkeypress={quantityChange}>
                    <lightning-input type="number" class="quantity" name="input2" variant = "label-hidden" min="0"
                    value={productLineItemWrapper.quantity} onchange={handleQuantityChange}></lightning-input>
                </span>
            </div>
        </div>
    </td>
    <td data-label="Product Code">
        <div class="slds-truncate">
            {productLineItemWrapper.product.ProductCode}
        </div>
    </td>
    <td data-label="Product Name">
        <div class="slds-truncate slds-cell-wrap">
            {productLineItemWrapper.productName}
        </div>
    </td>
    <td data-label="Product Family">
        <div class="slds-truncate">
            {productLineItemWrapper.product.ProductFamily__c}
        </div>
    </td>
    <td data-label="Product Type">
        <div class="slds-truncate">
            {productLineItemWrapper.product.ProductType__c}
        </div>
    </td>
    <td data-label="Tier Pricing">
        <div class="slds-truncate">
            <!--{productLineItemWrapper.productScaling} -->

          <!-- {scalingItems} -->


          <!--
          <template for:each={scalingItems} for:item='item'>
              <span key={item.key}>
                    <p key={item.key}>≤ <lightning-formatted-number value={item.key}></lightning-formatted-number> : <lightning-formatted-number value={item.value} format-style="decimal" minimum-fraction-digits="2"></lightning-formatted-number></p>
                </span>
            </template>
          -->

                <lightning-formatted-text value={productLineItemWrapper.productScaling} >
                </lightning-formatted-text>

        </div>
    </td>
    <td data-label="Product Description">
        <div class="slds-truncate slds-cell-wrap">
            {productLineItemWrapper.product.Description}
        </div>
    </td>
</template>