<template>
        <td data-label={labels.QUANTITY_TABLE_HEADER_lABEL}>
            <lightning-button-icon icon-name="utility:delete" alternative-text="Delete"   class="slds-m-left_xx-small" onclick={handleDeleteClick} value={pLitem.product.Id}></lightning-button-icon>
        </td>
    <td data-label={labels.QUANTITY_TABLE_HEADER_lABEL}>

        <div class="slds-truncate slds-p-left_small">
            <!-- {pLitem.qty} -->
            <lightning-formatted-number value={pLitem.qty}></lightning-formatted-number>
        </div>
    </td>
    <td data-label={labels.CODE_TABLE_HEADER_lABEL}>
        <div class="slds-truncate">
            <!-- {pLitem.product.ProductCode} -->
            <lightning-formatted-text value={pLitem.product.ProductCode}></lightning-formatted-text>
        </div>
    </td>
    <td data-label={labels.DEMO_EQ_TABLE_HEADER_lABEL}>
        <div class="slds-truncate">
            <lightning-input type="checkbox" name="demoeq" value={pLitem.product.Id} onchange={handleDemoEqChange}></lightning-input>
        </div>
    </td>
    <td data-label={labels.NAME_TABLE_HEADER_lABEL}>
        <div class="slds-truncate slds-cell-wrap">
            <!-- {pLitem.product.Name} -->
            <lightning-formatted-text value={pLitem.productName}></lightning-formatted-text>
        </div>
    </td>

    <td data-label={labels.FAMILY_TABLE_HEADER_lABEL}>
        <div class="slds-truncate slds-cell-wrap">
            <!-- {pLitem.product.ProductFamily__c} -->
            <lightning-formatted-text value={pLitem.product.ProductFamily__c}></lightning-formatted-text>
        </div>
    </td>
    <td data-label={labels.TYPE_TABLE_HEADER_lABEL}>
        <div class="slds-truncate slds-cell-wrap">
            <!-- {pLitem.product.ProductType__c} -->
            <lightning-formatted-text value={pLitem.product.ProductType__c}></lightning-formatted-text>
        </div>
    </td>

    <td data-label={labels.LIST_PRICE_TABLE_HEADER_lABEL}>
        <div class="slds-truncate slds-cell-wrap">
            <lightning-formatted-number value={pLitem.item.ListPriceOneItem__c} format-style="decimal" minimum-fraction-digits="2"></lightning-formatted-number>
        </div>
    </td>
    <td data-label={labels.LIST_PRICE_TIER_TABLE_HEADER_lABEL}>
        <div class="slds-truncate">
            <lightning-formatted-number value={pLitem.listPriceTierPricing} format-style="decimal" minimum-fraction-digits="2"></lightning-formatted-number>
        </div>
    </td>
    <td data-label={labels.SALES_PRICE_TABLE_HEADER_lABEL}>
        <div class="slds-truncate_container_75" style="align-items: center;align-content: center;display: inline-block; padding-bottom: 15px;">
            <!--  slds-form-element -->
                <lightning-input type="number" name="salespricename" value={pLitem.unitPrice} onblur={handleSalesPriceBlur} step="0.01"></lightning-input>
        </div>
    </td>

    <!-- Icon start  -->
    <td data-label={labels.SALES_PRICE_TABLE_HEADER_lABEL}>
        <div class="slds-truncate_container_75" style="align-items: center;align-content: center;display: inline-block; padding-bottom: 15px;">
            <!--  slds-form-element -->
            <lightning-button-icon icon-name="utility:description"  alternative-text="Reset Sales Price" onclick={handleResetSalesPriceClick} value={pLitem.unitPrice}></lightning-button-icon>
        </div>
    </td>
    <!-- icon end -->

    <td data-label={labels.TIER_PRICING_TABLE_HEADER_lABEL}>
        <div class="slds-truncate_container_75" style="align-items: center;align-content: center;padding-bottom: 15px;">
<!--
            <template for:each={scalingItems} for:item='item'>
                <span key={item.key}>
                      <p key={item.key}>≤ <lightning-formatted-number value={item.key}></lightning-formatted-number> : <lightning-formatted-number value={item.value} format-style="decimal" minimum-fraction-digits="2"></lightning-formatted-number></p>
                  </span>
              </template>
-->
            <lightning-formatted-text value={pLitem.productScaling}></lightning-formatted-text>
        </div>
    </td>
</template>