.THIS.body .buttonSect {
    text-align:center;
    margin:10px;
}
.THIS.body .noItems{
    text-align:center;
    padding: 10px;
}
.THIS.body .tableSect{
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
}
.THIS.body .tableSect table{
    width: 100%;
}
.THIS.body .title{
    font-size: 20px;
}