<template>
    <lightning-card title={filterCurrency}> 
        <lightning-button label={labels.FILTER_BUTTON_lABEL} class="slds-m-right_xx-small" slot="actions" onclick={handleFilter} variant="brand"></lightning-button>
        <lightning-button label={labels.CLEAR_BUTTON_lABEL} slot="actions" onclick={handleClear}></lightning-button>
        <div class="slds-grid slds-p-around_xx-small">
            <div class="slds-col slds-size_1-of-4 slds-p-around_xx-small">
                <span onkeypress={keycheck}>
                    <lightning-input label={labels.PRODUCT_CODE_lABEL} data-fieldapiname="ProductCode" data-compoperator="LIKEX">
                    </lightning-input>
                </span>
            </div>
            <div class="slds-col slds-size_1-of-4 slds-p-around_xx-small">
                <span onkeypress={keycheck}>
                    <lightning-input label={labels.NAME_lABEL} data-fieldapiname="Name" data-compoperator="LIKEX">
                    </lightning-input>
                </span>
            </div>
            <div class="slds-col slds-size_1-of-4 slds-p-around_xx-small">
                <span onkeypress={keycheck}>
                    <lightning-input label={labels.SEARCH_TERM_lABEL} data-fieldapiname="ProductFamily__c" data-compoperator="LIKEX">
                    </lightning-input>
                </span>
            </div>
            <div class="slds-col slds-size_1-of-4 slds-p-around_xx-small">
                <template if:true={PackagePicklistValues}>
                    <lightning-combobox label={labels.PRODUCT_TYPE_lABEL} value="" options={PackagePicklistValues.values}
                        data-fieldapiname="ProductType__c" data-compoperator="EQUALS">
                    </lightning-combobox>
                </template> 
            </div>
        </div>
    </lightning-card>
</template>