<template>
    <lightning-card title={labels.CARD_LABEL}>
        <lightning-button label={labels.ADD_BUTTON_lABEL} class="slds-m-right_xx-small" slot="actions" onclick={handleAdd} variant="brand"></lightning-button>
        
        <!-- <lightning-button label={backToObjectButtonLabel} slot="actions" onclick={handleToOpp}></lightning-button> -->
        <lightning-button label={labels.CLEAR_BUTTON_lABEL} slot="actions" onclick={handleClear} ></lightning-button>
        <template if:true={error}>
            <template for:each={errorMessages} for:item="message">
                <p key={message} class="error-message">{message}</p>
            </template>

        </template>

        <div class="slds-grid slds-scrollable">
        <table class="slds-table slds-table_bordered slds-table_cell-buffer">
            <thead>
                <tr class="slds-text-title_caps">
                    <th scope="col">
                        <div class="slds-truncate"> </div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate">{labels.QUANTITY_TABLE_HEADER_lABEL}</div>
                    </th>                    
                    <th scope="col">
                        <div class="slds-truncate">{labels.CODE_TABLE_HEADER_lABEL}</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate">{labels.DEMO_EQ_TABLE_HEADER_lABEL}</div>
                    </th>
                    <th scope="col">
                        <!-- <div class="slds-truncate" title={labels.NAME_TABLE_HEADER_lABEL}>{labels.NAME_TABLE_HEADER_lABEL}</div> -->
                        <div class="slds-truncate">{labels.NAME_TABLE_HEADER_lABEL}</div>
                    </th>
                    <th scope="col">
                        <!-- <div class="slds-truncate" title={labels.NAME_TABLE_HEADER_lABEL}>{labels.PRODUCT_FAMILY_TABLE_HEADER_lABEL}</div> -->
                        <div class="slds-truncate">{labels.PRODUCT_FAMILY_TABLE_HEADER_lABEL}</div>
                    </th>
                    <th scope="col">
                        <!-- <div class="slds-truncate" title={labels.NAME_TABLE_HEADER_lABEL}>{labels.PRODUCT_TYPE_TABLE_HEADER_lABEL}</div> -->
                        <div class="slds-truncate">{labels.PRODUCT_TYPE_TABLE_HEADER_lABEL}</div>
                    </th>                    
                    <th scope="col">
                        <!-- <div class="slds-truncate" title={labels.LIST_PRICE_TABLE_HEADER_lABEL}>{labels.LIST_PRICE_TABLE_HEADER_lABEL}</div> -->
                        <div class="slds-truncate">{labels.LIST_PRICE_TABLE_HEADER_lABEL}</div>
                    </th>
                    <th scope="col">
                        <!-- <div class="slds-truncate" title={labels.LIST_PRICE_TABLE_HEADER_lABEL}>{labels.LIST_PRICE_TIER_TABLE_HEADER_lABEL}</div> -->
                        <div class="slds-truncate">{labels.LIST_PRICE_TIER_TABLE_HEADER_lABEL}</div>
                    </th>
                    
                    <th scope="col">
                        <!-- <div class="slds-truncate" title={labels.SALES_PRICE_TABLE_HEADER_lABEL}>{labels.SALES_PRICE_TABLE_HEADER_lABEL}</div> -->
                        <div class="slds-truncate slds-form_horizontal">{labels.SALES_PRICE_TABLE_HEADER_lABEL}</div>
                    </th>
                        <!-- icon start -->
                        <th scope="col">
                            <div class="slds-truncate slds-form_horizontal"></div>
                        </th>

                    <th scope="col">
                        <!-- <div class="slds-truncate" title={labels.SALES_PRICE_TABLE_HEADER_lABEL}>{labels.TIER_PRICING_TABLE_HEADER_lABEL}</div> -->
                        <div class="slds-truncate slds-form_horizontal">{labels.TIER_PRICING_TABLE_HEADER_lABEL}</div>
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <template if:true={items}>
                    <template for:each={items} for:item="item">
                            <c-product-picker-selected-product-item key={item.product.ProductCode}  
                                quote={quote} 
                                opportunity={opportunity}
                                product-line-item-wrapper={item}
                                onitemchange={onitemchange} 
                                onselecteddeleteclick={handledelete}
                                ondemoeqclick={handledemoeqclick}
                                onsalespricechange={handlesalespricechange}>
                            </c-product-picker-selected-product-item>
                        </template>
                </template>
            </tbody>
        </table>
        </div>
    </lightning-card>
</template>