<template>

    <div>

            <article class="slds-card" style={styleClass}>

                <div class="slds-grid">
                <div>
                    <div if:true={alertContext}>
                        <span>
                            <lightning-card title={labels.PRODUCTPICKER_PRODUCTALERT_ALERT_TABLE_HEADER_LABEL}></lightning-card>
                        </span>
                    </div>
                    <div if:false={alertContext}>
                        <span>
                            <lightning-card title={productContext}></lightning-card>
                        </span>
                    </div>
                </div>
                <div class="slds-col_bump-left">
                    <span>
                        <div if:true={context}>
                            <lightning-button label={labels.SELECTALL_BUTTON_lABEL} class="slds-m-around_xx-small"
                                slot="actions" onclick={handleSelectAll} variant="brand"></lightning-button>
                        </div>
                    </span>

                </div>
                <div>
                    <span>
                        <div if:true={alertContext}>
                            <lightning-button label={labels.ADD_BUTTON_lABEL} class="slds-m-around_xx-small" slot="actions" variant="destructive"
                            onclick={handleAdd} ></lightning-button>
                        </div>
                        <div if:false={alertContext}>
                                <lightning-button label={labels.ADD_BUTTON_lABEL} class="slds-m-around_xx-small" slot="actions" variant="brand"
                                onclick={handleAdd} ></lightning-button>
                        </div>

                    </span>
                </div>
            </div>

            <div class="slds-grid slds-scrollable">
                <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                    <thead>
                        <tr class="slds-text-title_caps">
                            <th scope="col">
                                <!-- <div class="slds-truncate" title={labels.QUANTITY_TABLE_HEADER_lABEL}>
                                    {labels.QUANTITY_TABLE_HEADER_lABEL}</div> -->
                                    <div class="slds-truncate">
                                        {labels.QUANTITY_TABLE_HEADER_lABEL}</div>
                            </th>
                            <th scope="col">
                                <!-- <div class="slds-truncate" title={labels.CODE_TABLE_HEADER_lABEL}>
                                    {labels.CODE_TABLE_HEADER_lABEL}</div> -->
                                    <div class="slds-truncate">{labels.CODE_TABLE_HEADER_lABEL}</div>
                            </th>
                            <th scope="col">
                                <!-- <div class="slds-truncate" title={labels.NAME_TABLE_HEADER_lABEL}>
                                    {labels.NAME_TABLE_HEADER_lABEL}</div> -->
                                    <div class="slds-truncate">{labels.NAME_TABLE_HEADER_lABEL}</div>
                            </th>
                            <th scope="col">
                                <!-- <div class="slds-truncate" title={labels.FAMILY_TABLE_HEADER_lABEL}>
                                    {labels.FAMILY_TABLE_HEADER_lABEL}</div> -->
                                    <div class="slds-truncate">{labels.FAMILY_TABLE_HEADER_lABEL}</div>
                            </th>
                            <th scope="col">
                                <!-- <div class="slds-truncate" title={labels.TYPE_TABLE_HEADER_lABEL}>
                                    {labels.TYPE_TABLE_HEADER_lABEL}</div> -->
                                    <div class="slds-truncate">{labels.TYPE_TABLE_HEADER_lABEL}</div>
                            </th>
                            <th scope="col">
                                <!-- <div class="slds-truncate" title={labels.TIER_PRICING_TABLE_HEADER_lABEL}>
                                    {labels.TIER_PRICING_TABLE_HEADER_lABEL}</div> -->
                                    <div class="slds-truncate">{labels.TIER_PRICING_TABLE_HEADER_lABEL}</div>
                            </th>
                            <th scope="col">
                                <!-- <div class="slds-truncate" title={labels.LABEL_SHORT_TABLE_HEADER_lABEL}>
                                    {labels.LABEL_SHORT_TABLE_HEADER_lABEL}</div> -->
                                    <!-- <div class="slds-truncate_container_75">{labels.LABEL_SHORT_TABLE_HEADER_lABEL}</div> -->
                                    <div class="slds-truncate">{labels.LABEL_SHORT_TABLE_HEADER_lABEL}</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template if:true={loading}>
                            <lightning-spinner alternative-text="Loading"></lightning-spinner>
                        </template>

                        <template if:true={items}>
                            <template for:each={items} for:item="item">

                                <c-product-picker-product-item key={item.product.ProductCode}
                                    product-line-item-wrapper={item} onitemchange={onitemchange} onquantitychangeevent={handleAdd}
                                    >
                                </c-product-picker-product-item>
                            </template>
                        </template>
                    </tbody>
                </table>
            </div>

            </article>

        <!-- </lightning-card> -->
    </div>
</template>