.THIS.body table {
    border-spacing: collapse;
    border-spacing: 0;
}
.THIS.body table tr td{
    padding: 0px;
    margin: 0px;
}
.THIS.body .updateBox{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
}