<template>

        <lightning-card title="Alerts"></lightning-card>
        
        <lightning-button label="Add to Selected Products" slot="actions" onclick={handleAdd} variant="brand"></lightning-button>
        <div class="slds-grid slds-scrollable slds-border_top">
            {labels.QUANTITY_TABLE_HEADER_lABEL}
        <table class="slds-table slds-table_bordered slds-table_bordered slds-table_cell-buffer">
            <thead>
                <tr class="slds-text-title_caps">
                    <th scope="col">
                        <div class="slds-truncate" title={labels.QUANTITY_TABLE_HEADER_lABEL}></div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title={labels.CODE_TABLE_HEADER_lABEL}>
                            {labels.CODE_TABLE_HEADER_lABEL}</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title={labels.NAME_TABLE_HEADER_lABEL}>
                            {labels.NAME_TABLE_HEADER_lABEL}</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title={labels.FAMILY_TABLE_HEADER_lABEL}>
                            {labels.FAMILY_TABLE_HEADER_lABEL}</div> 
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title={labels.TYPE_TABLE_HEADER_lABEL}>
                            {labels.TYPE_TABLE_HEADER_lABEL}</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title={labels.TIER_PRICING_TABLE_HEADER_lABEL}>
                            {labels.TIER_PRICING_TABLE_HEADER_lABEL}</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title={labels.LABEL_SHORT_TABLE_HEADER_lABEL}> 
                            {labels.LABEL_SHORT_TABLE_HEADER_lABEL}</div>
                    </th>
                </tr>
            </thead>

            <tbody>
                    <template if:true={loading}>
                        <lightning-spinner alternative-text="Loading"></lightning-spinner>
                    </template>
                    
                    <template if:true={items}>
                        <template for:each={items} for:item="item">
                               
                            <c-product-picker-product-item key={item.product.ProductCode} product-line-item-wrapper={item}
                                onitemchange={onitemchange}>
                            </c-product-picker-product-item>
                        </template>
                    </template>
                </tbody>
        </table>
    </div>
</template>