<apex:page controller="SortLineItemsController" action="{!save}">
	<head>
		<style>
		.pbTitle
		{
			white-space: nowrap;
		}
		</style>
	</head>
	<c:loadingbox />
	<apex:form Id="mainForm">
		<apex:outputpanel id="errorPan">
			<apex:pageMessages id="error" />
		</apex:outputpanel>
		<apex:commandLink action="{!RedirectToPreviousPage}" style="font-size: 11pt;font-weight: bold;" value="Back" />
		<br/><br/>
<apex:pageblock title="{!name}: Line Item Sorting" >
	<apex:pageBlockButtons location="both" >
		<apex:commandButton action="{!doSave}" value="Save"/>
		<apex:commandButton action="{!redirectToPreviousPage}" value="Cancel"/>
	</apex:pageBlockButtons>
<!--################################ Products&Accessories #####################################-->
		<apex:pageblock title="Products&Accessories">
			<apex:outputpanel id="accessories">
				<apex:pageblocktable value="{!fromSectionAccessories}" var="wrapper" id="oTable" styleClass="section">
					<apex:column headerValue="Name">
						<apex:outputLink value="/{!wrapper.product.Id}">{!wrapper.product.Name}</apex:outputLink>
					</apex:column>
					<apex:column headerValue="Product Code" value="{!wrapper.product.ProductCode}"/>
					<apex:column headerValue="Rank" style="width: 40px;">
						
						<apex:inputText style="width: 23px;" value="{!wrapper.rank}" 
								onchange="changeRank(this.value, '{!wrapper.rank}', 'Products and Accessories');">

						</apex:inputText>
							
					</apex:column>
					<apex:column headerValue="" style="width: 40px;">
						<div class=" x-panel multiselectControls" style="width: 36px;">
							<apex:variable var="upSection" value="" rendered="{!VALUE(wrapper.rank) > 1}">
								<div>Up</div> 
								<apex:commandLink type="image/png" id="upLink" action="{!doRankUp}" status="loadStatus" reRender="accessories">
								<apex:param name="rankNumber" value="{!wrapper.rank}" assignTo="{!rankNumber}"/>
								<apex:param name="productType" value="Products and Accessories" assignTo="{!productType}"/>
									<img src="/img/ple/directionals/up.gif" id="rlPropFields_iconUp" style="cursor:pointer;margin:2px;"/>
								</apex:commandlink>
								<br/>
							</apex:variable>
							
							<apex:variable var="downSection" value="" rendered="{!VALUE(wrapper.rank) < fromSectionAccessories.size}">
								<apex:commandLink type="image/png" id="downLink" action="{!doRankDown}" status="loadStatus" reRender="accessories">
								<apex:param name="rankNumber" value="{!wrapper.rank}" assignTo="{!rankNumber}"/>
								<apex:param name="productType" value="Products and Accessories" assignTo="{!productType}"/>
									<img src="/img/ple/directionals/down.gif" id="rlPropFields_iconDown" style="cursor:pointer;margin:2px;"/>
								</apex:commandlink>
								<div>Down</div> 
							</apex:variable>
							
						</div>
					</apex:column>
				</apex:pageblocktable>
			</apex:outputpanel>
		</apex:pageblock>
<!--################################ Disposables #####################################-->
		<apex:pageblock title="Disposables">
			<apex:outputpanel id="disposables">
				<apex:pageblocktable value="{!fromSectionDisposables}" var="wrapper" id="oTable" styleClass="section">
					<apex:column headerValue="Name">
						<apex:outputLink value="/{!wrapper.product.Id}">{!wrapper.product.Name}</apex:outputLink>
					</apex:column>
					<apex:column headerValue="Product Code" value="{!wrapper.product.ProductCode}"/>
					<apex:column headerValue="Rank" style="width: 40px;">
						<apex:inputText style="width: 23px;" value="{!wrapper.rank}" 
								onchange="changeRank(this.value, '{!wrapper.rank}', 'Disposables');">
						</apex:inputText>
					</apex:column>
					<apex:column headerValue="" style="width: 40px;">
						<div class=" x-panel multiselectControls" style="width: 36px;">
							<apex:variable var="upSection" value="" rendered="{!VALUE(wrapper.rank) > 1}">
								<div>Up</div>
								<apex:commandLink type="image/png" id="upLink" action="{!doRankUp}" status="loadStatus" reRender="disposables">
								<apex:param name="rankNumber" value="{!wrapper.rank}" assignTo="{!rankNumber}"/>
								<apex:param name="productType" value="Disposables" assignTo="{!productType}"/>
									<img src="/img/ple/directionals/up.gif" id="rlPropFields_iconUp" style="cursor:pointer;margin:2px;"/>
								</apex:commandlink>
								<br/>
							</apex:variable>
							
							<apex:variable var="downSection" value="" rendered="{!VALUE(wrapper.rank) < fromSectionDisposables.size}">
								<apex:commandLink type="image/png" id="downLink" action="{!doRankDown}" status="loadStatus" reRender="disposables">
								<apex:param name="rankNumber" value="{!wrapper.rank}" assignTo="{!rankNumber}"/>
								<apex:param name="productType" value="Disposables" assignTo="{!productType}"/>
									<img src="/img/ple/directionals/down.gif" id="rlPropFields_iconDown" style="cursor:pointer;margin:2px;"/>
								</apex:commandlink>
								<div>Down</div> 
							</apex:variable>
						</div>
					</apex:column>
				</apex:pageblocktable>
			</apex:outputpanel>
		</apex:pageblock>
<!--################################ Services #####################################-->
		<apex:pageblock title="Services">
			<apex:outputpanel id="services">
				<apex:pageblocktable value="{!fromSectionServices}" var="wrapper" id="oTable" styleClass="section">
					<apex:column headerValue="Name">
						<apex:outputLink value="/{!wrapper.product.Id}">{!wrapper.product.Name}</apex:outputLink>
					</apex:column>
					<apex:column headerValue="Product Code" value="{!wrapper.product.ProductCode}"/>
					<apex:column headerValue="Rank" style="width: 40px;">
						<apex:inputText style="width: 23px;" value="{!wrapper.rank}" 
								onchange="changeRank(this.value, '{!wrapper.rank}', 'Services');">
						</apex:inputText>
					</apex:column>
					<apex:column headerValue="" style="width: 40px;">
						<div class=" x-panel multiselectControls" style="width: 36px;">
							<apex:variable var="upSection" value="" rendered="{!VALUE(wrapper.rank) > 1}">
								<div>Up</div> 
								<apex:commandLink type="image/png" id="upLink" action="{!doRankUp}" status="loadStatus" reRender="services">
								<apex:param name="rankNumber" value="{!wrapper.rank}" assignTo="{!rankNumber}"/>
								<apex:param name="productType" value="Services" assignTo="{!productType}"/>
									<img src="/img/ple/directionals/up.gif" id="rlPropFields_iconUp" style="cursor:pointer;margin:2px;"/>
								</apex:commandlink>
								<br/>
							</apex:variable>
							
							<apex:variable var="downSection" value="" rendered="{!VALUE(wrapper.rank) < fromSectionServices.size}">
								<apex:commandLink type="image/png" id="downLink" action="{!doRankDown}" status="loadStatus" reRender="services">
								<apex:param name="rankNumber" value="{!wrapper.rank}" assignTo="{!rankNumber}"/>
								<apex:param name="productType" value="Services" assignTo="{!productType}"/>
									<img src="/img/ple/directionals/down.gif" id="rlPropFields_iconDown" style="cursor:pointer;margin:2px;"/>
								</apex:commandlink>
								<div>Down</div> 
							</apex:variable>
							
						</div>
					</apex:column>
				</apex:pageblocktable>
			</apex:outputpanel>
		</apex:pageblock>
	</apex:pageblock>
		<apex:actionFunction action="{!doChangeRank}" name="changeRank" reRender="mainForm" status="loadStatus">
			<apex:param name="newRank" value=""/>
			<apex:param name="oldRank" value=""/>
			<apex:param name="productType" value=""/>
		</apex:actionFunction>
	</apex:form>
</apex:page>