.slds-modal__container{
    max-width: 90rem !important;
    width: 90% !important;
}

#wrapper-body {
    display: block !important;
    flex-direction: column !important;
    max-height: 100% !important;
}