.THIS.body  {
    position:absolute;
    width: 100%;
}
.THIS.body table{
    width: 100%;
}
.THIS.body .ui-sortable-helper {
    display: table;
}
.THIS.body table td img{
    width:30px !important;
    cursor: move;
    padding: 2px;
}

.THIS.body .ui-state-highlight { 
    height: 5em; 
    line-height: 5em; 
    background-color: green;
}
.THIS.body .selected{
    background-color: #666;
    color: #fff;
}


.THIS.body section {
    position: relative;
    padding-top: 37px;
    border-top: 1px solid #ddd;
    background-color: #ddd;
}

.THIS.body .container {
    overflow-y: auto;
    height: 50vh;
    background-color: white;
}

.THIS.body table {
    border-spacing: 0;
    width:100%;
}
.THIS.body td, .THIS.body th {
    padding: 2px !important;
    text-align: left;
    border-bottom:1px solid #eee;
    background-color: white;
}
.THIS.body th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
}
.THIS.body th div{
    position: absolute;
    background: transparent;
    color: black;
    font-weight: bold;
    top: 0;
    line-height: normal;  
    padding: 9px 0px;
}
.THIS.body th:first-child div{
    border: none;
}