<!--
  @description       :
  @author            : alexandre.costa@integra-biosciences.com
-->
<template>

    <template if:true={isSaving}>
        <div>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>
    </template>

    <template if:true={isError}>
        <div class="slds-text-body_regular slds-text-color_error">The max number of quotes is 5.</div>
    </template>

    <div>
        <div class="slds-text-body_regular slds-text-color_default">Number of Quotes to Create</div>
        <span onkeypress={keycheck}>
            <lightning-input type="number" name="inputNumberOfQuotes" onchange={handleChange} value="1"></lightning-input>
        </span>
    </div>

    <div class="slds-m-top_small slds-m-bottom_medium slds-float_right">
        <lightning-button label="Create" title="Create Quotes" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>
    </div>
 </template>